<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/bootstrap-5.3.3.min.css}">
    <script th:src="@{/assets/bootstrap-5.3.3.min.js}"></script>
    <script th:src="@{/assets/fontawesome.js}"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/favicon.ico">
    <title>Atualizar Hunter</title>
</head>
<body>
    <h3>Atualizar Hunter</h3>
    <hr>
    <a href="/hunters/list-hunters" class="btn btn-secondary btn-sm mb-3"><i class="fa fa-arrow-left"></i>&nbsp;Voltar</a>
    <form th:action="@{'/hunters/update-hunter/' + *{id}}" th:object="${hunter}" method="POST">
        <input type="hidden" th:field="*{id}">

        <label>Nome:</label>
        <input type="text" th:field="*{nomeHunter}" class="form-control mb-4 w-25"/>
        <div th:if="${#fields.hasErrors('nomeHunter')}" th:errors="*{nomeHunter}" class="text-danger"></div>

        <label>Idade:</label>
        <input type="text" th:field="*{idadeHunter}" class="form-control mb-4 w-25"/>
        <div th:if="${#fields.hasErrors('idadeHunter')}" th:errors="*{idadeHunter}" class="text-danger"></div>

        <label>Altura:</label>
        <input type="text" th:field="*{alturaHunter}" class="form-control mb-4 w-25"/>
        <div th:if="${#fields.hasErrors('alturaHunter')}" th:errors="*{alturaHunter}" class="text-danger"></div>

        <label>Peso:</label>
        <input type="text" th:field="*{pesoHunter}" class="form-control mb-4 w-25"/>
        <div th:if="${#fields.hasErrors('pesoHunter')}" th:errors="*{pesoHunter}" class="text-danger"></div>

        <label>Tipo de Hunter:</label>
        <select th:field="*{tipoHunter}" class="form-control mb-4 w-25">
            <option value="">Escolha um tipo de Hunter</option>
            <option th:each="tipo_hunter : ${tipo_hunter}" th:value="${tipo_hunter.name()}" th:text="${tipo_hunter.descricao}"></option>
        </select>
        <div th:if="${#fields.hasErrors('tipoHunter')}" th:errors="*{tipoHunter}" class="text-danger"></div>

        <label>Tipo de Nen:</label>
        <select th:field="*{tipoNen}" class="form-control mb-4 w-25">
            <option value="">Escolha um tipo de Nen</option>
            <option th:each="tipo_nen : ${tipo_nen}" th:value="${tipo_nen.name()}" th:text="${tipo_nen.descricao}"></option>
        </select>
        <div th:if="${#fields.hasErrors('tipoNen')}" th:errors="*{tipoNen}" class="text-danger"></div>

        <label>Tipo sanguíneo:</label>
        <select th:field="*{tipoSanguineo}" class="form-control mb-4 w-25">
            <option value="">Escolha um tipo sanguíneo</option>
            <option th:each="tipo_sanguineo : ${tipo_sanguineo}" th:value="${tipo_sanguineo.name()}" th:text="${tipo_sanguineo.descricao}"></option>
        </select>
        <div th:if="${#fields.hasErrors('tipoSanguineo')}" th:errors="*{tipoSanguineo}" class="text-danger"></div>

        <label>Data de início:</label>
        <input type="date" th:field="*{inicio}" class="form-control mb-4 w-25"/>
        <div th:if="${#fields.hasErrors('inicio')}" th:errors="*{inicio}" class="text-danger"></div>

        <label>Data de término:</label>
        <input type="date" th:field="*{termino}" class="form-control mb-4 w-25"/>
        <div th:if="${#fields.hasErrors('termino')}" th:errors="*{termino}" class="text-danger"></div>

        <button type="submit" class="btn btn-primary col-2"><i class="fa fa-arrows-rotate"></i>&nbsp;Atualizar</button>
    </form>
</body>
</html>